<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <div class="container">
        <img src="/register.jpg" alt="">
        <div class="form">
            <div class="left_form">
                <h1>Welcome</h1>
                <p>Hello.welcome to noteapp clone.this is note app clone.and this is clone lol.Hello.welcome to noteapp clone.this is note app clone.and this is clone lol.Hello.welcome to noteapp clone.this is note app clone.and this is clone lol.</p>
                <a class="google" href="/google">Sign In With Google</a>
                <a class="login" href="/login">Login</a>

            </div>
            <div class="right_form">
        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="full name">
            <input type="email" name="email" id="" placeholder="email address">
            <input type="text" name="username" id="" placeholder="user name">
            <input type="password" name="password" id="" placeholder="*******">
            <input type="submit" value="Register">
            
        </form>
    </div>
    </div>
    </div>

</body>
</html>